<html> 
  <head>
    <h1>Sign up to use the LTI tool</h1>
  </head>
  <body>
    <h3>Please enter your springest id</h3>
    
    <form> 
      <!-- need to add the form method here - POST -->
      <input name="user_id" type="text" id="user_id"/>
      <button type='submit'>Submit</button>
    </form> 
  </body>
</html>