<html>
<head><title>Welcome</title></head>
<body>
<p>What's your username?</p>

<form action="/set_name" method="post">
  <input name='username' type='text' id='username'/>
  <button type='submit'>Submit</button>
</form>
</body>
</html>